<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zNova.system.mapper.HardwareCpuMapper">
    
    <resultMap type="HardwareCpu" id="HardwareCpuResult">
        <result property="id"    column="id"    />
        <result property="brand"    column="brand"    />
        <result property="model"    column="model"    />
        <result property="socketType"    column="socket_type"    />
        <result property="singleCoreScore"    column="single_core_score"    />
        <result property="multiCoreScore"    column="multi_core_score"    />
        <result property="tdp"    column="tdp"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHardwareCpuVo">
        select id, brand, model, socket_type, single_core_score, multi_core_score, tdp, create_time, update_time from hardware_cpu
    </sql>

    <select id="selectHardwareCpuList" parameterType="HardwareCpu" resultMap="HardwareCpuResult">
        <include refid="selectHardwareCpuVo"/>
        <where>  
            <if test="brand != null  and brand != ''"> and brand = #{brand}</if>
            <if test="model != null  and model != ''"> and model like concat('%', #{model}, '%')</if>
            <if test="socketType != null  and socketType != ''"> and socket_type = #{socketType}</if>
        </where>
    </select>
    
    <select id="selectHardwareCpuById" parameterType="Long" resultMap="HardwareCpuResult">
        <include refid="selectHardwareCpuVo"/>
        where id = #{id}
    </select>
    <select id="selectHardwareCpuByModel" parameterType="String" resultType="HardwareCpu">
        select * from hardware_cpu where model = #{model}
    </select>
    <insert id="insertHardwareCpu" parameterType="HardwareCpu" useGeneratedKeys="true" keyProperty="id">
        insert into hardware_cpu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="brand != null and brand != ''">brand,</if>
            <if test="model != null and model != ''">model,</if>
            <if test="socketType != null and socketType != ''">socket_type,</if>
            <if test="singleCoreScore != null">single_core_score,</if>
            <if test="multiCoreScore != null">multi_core_score,</if>
            <if test="tdp != null">tdp,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="brand != null and brand != ''">#{brand},</if>
            <if test="model != null and model != ''">#{model},</if>
            <if test="socketType != null and socketType != ''">#{socketType},</if>
            <if test="singleCoreScore != null">#{singleCoreScore},</if>
            <if test="multiCoreScore != null">#{multiCoreScore},</if>
            <if test="tdp != null">#{tdp},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHardwareCpu" parameterType="HardwareCpu">
        update hardware_cpu
        <trim prefix="SET" suffixOverrides=",">
            <if test="brand != null and brand != ''">brand = #{brand},</if>
            <if test="model != null and model != ''">model = #{model},</if>
            <if test="socketType != null and socketType != ''">socket_type = #{socketType},</if>
            <if test="singleCoreScore != null">single_core_score = #{singleCoreScore},</if>
            <if test="multiCoreScore != null">multi_core_score = #{multiCoreScore},</if>
            <if test="tdp != null">tdp = #{tdp},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHardwareCpuById" parameterType="Long">
        delete from hardware_cpu where id = #{id}
    </delete>

    <delete id="deleteHardwareCpuByIds" parameterType="String">
        delete from hardware_cpu where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>