<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zNova.system.mapper.HardwareMemoryMapper">
    
    <resultMap type="HardwareMemory" id="HardwareMemoryResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="frequency"    column="frequency"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHardwareMemoryVo">
        select id, type, frequency, create_time, update_time from hardware_memory
    </sql>

    <select id="selectHardwareMemoryList" parameterType="HardwareMemory" resultMap="HardwareMemoryResult">
        <include refid="selectHardwareMemoryVo"/>
        <where>  
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="frequency != null "> and frequency = #{frequency}</if>
        </where>
    </select>
    
    <select id="selectHardwareMemoryById" parameterType="Long" resultMap="HardwareMemoryResult">
        <include refid="selectHardwareMemoryVo"/>
        where id = #{id}
    </select>

    <select id="selectHardwareMemoryByTypeAndFrequency" resultType="HardwareMemory">
        select * from hardware_memory
        where type = #{type} and frequency = #{frequency}
    </select>

    <insert id="insertHardwareMemory" parameterType="HardwareMemory" useGeneratedKeys="true" keyProperty="id">
        insert into hardware_memory
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">type,</if>
            <if test="frequency != null">frequency,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null and type != ''">#{type},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHardwareMemory" parameterType="HardwareMemory">
        update hardware_memory
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHardwareMemoryById" parameterType="Long">
        delete from hardware_memory where id = #{id}
    </delete>

    <delete id="deleteHardwareMemoryByIds" parameterType="String">
        delete from hardware_memory where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>