<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zNova.system.mapper.HardwareMotherboardMapper">
    
    <resultMap type="HardwareMotherboard" id="HardwareMotherboardResult">
        <result property="id"    column="id"    />
        <result property="socketType"    column="socket_type"    />
        <result property="memoryType"    column="memory_type"    />
        <result property="maxCpuPower"    column="max_cpu_power"    />
        <result property="chipset"    column="chipset"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectHardwareMotherboardVo">
        select id, socket_type, memory_type, max_cpu_power, chipset, create_time, update_time from hardware_motherboard
    </sql>

    <select id="selectHardwareMotherboardList" parameterType="HardwareMotherboard" resultMap="HardwareMotherboardResult">
        <include refid="selectHardwareMotherboardVo"/>
        <where>  
            <if test="socketType != null  and socketType != ''"> and socket_type = #{socketType}</if>
            <if test="memoryType != null  and memoryType != ''"> and memory_type = #{memoryType}</if>
            <if test="chipset != null  and chipset != ''"> and chipset like concat('%', #{chipset}, '%')</if>
        </where>
    </select>
    
    <select id="selectHardwareMotherboardById" parameterType="Long" resultMap="HardwareMotherboardResult">
        <include refid="selectHardwareMotherboardVo"/>
        where id = #{id}
    </select>

    <insert id="insertHardwareMotherboard" parameterType="HardwareMotherboard" useGeneratedKeys="true" keyProperty="id">
        insert into hardware_motherboard
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="socketType != null and socketType != ''">socket_type,</if>
            <if test="memoryType != null and memoryType != ''">memory_type,</if>
            <if test="maxCpuPower != null">max_cpu_power,</if>
            <if test="chipset != null">chipset,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="socketType != null and socketType != ''">#{socketType},</if>
            <if test="memoryType != null and memoryType != ''">#{memoryType},</if>
            <if test="maxCpuPower != null">#{maxCpuPower},</if>
            <if test="chipset != null">#{chipset},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateHardwareMotherboard" parameterType="HardwareMotherboard">
        update hardware_motherboard
        <trim prefix="SET" suffixOverrides=",">
            <if test="socketType != null and socketType != ''">socket_type = #{socketType},</if>
            <if test="memoryType != null and memoryType != ''">memory_type = #{memoryType},</if>
            <if test="maxCpuPower != null">max_cpu_power = #{maxCpuPower},</if>
            <if test="chipset != null">chipset = #{chipset},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteHardwareMotherboardById" parameterType="Long">
        delete from hardware_motherboard where id = #{id}
    </delete>

    <delete id="deleteHardwareMotherboardByIds" parameterType="String">
        delete from hardware_motherboard where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>